@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 58, 64, 57;
  --background-start-rgb: 249, 247, 244;
  --background-end-rgb: 191, 215, 210;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
